<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduFlex</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<header>
  <div class="container">
    <img src="/img/CodeCrew,jpg.jpeg" alt="CodeCrew Logo" class="logo">
    <h1>Welcome to LearnLink</h1>
    <p>EduFlex is your ultimate platform for online learning. Unleash the Power of <b>LearnLink</b> - One Platform for Schools and Students.</p>
  </div>
</header>

<main>
  <div class="container">
    <div class="buttons">
      <div class="button"><a href="/login" class="login-btn">Login</a></div>
      <div class="button"><a href="/signup" class="signup-btn">Sign Up</a></div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <div class="footer-content">
      <h3>About LearnLink</h3>
      <p>EduFlex aims to revolutionize the way people learn by providing accessible, high-quality educational resources.</p>
    </div>
    <div class="footer-content">
      <h3>Connect with Us</h3>
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
    
  </div>
</footer>

<script src="script.js"></script>

</body>
</html>
